				<td width="600" height="400">
  <input type="hidden" name="action" value="buyGoods" />
  <table border="1" style="border-collapse: collapse">
    <tr>
      <th:block th:each="goods, iterStat : ${BG}">
        <td width="300">
          <font face="微軟正黑體" size="5" th:text="${goods.GOODS_NAME}"></font>
          <br />
          <font th:text="${goods.PRICE}+' 元/件'"></font>
          <br />
          <img th:src="@{'/DrinksImage/' + ${goods.IMAGE_NAME}}" th:alt="${goods.IMAGE_NAME}" width="150" height="150" >
          <br />
          <font face="微軟正黑體" size="3">
            <form th:action="@{/buyGoods}" method="post">
              <input type="hidden" name="action" value="buyGoods" />
              <input type="hidden" th:name="goodsID" th:value="${goods.GOODS_ID}" />
              購買<input type="number" name="buyQuantity" th:min="0" th:max="${goods.QUANTITY}" size="5" value="0">件
              <br />
              <p style="color: red;" th:text="'(庫存 ' + ${goods.QUANTITY} + ' 件)'"></p>
              <input type="submit" value="購買" />
            </form>
          </font>
        </td>
        <!-- 在每 3 個商品之后添加新行 -->
        <th:block th:if="${iterStat.index % 3 == 2}">
        </tr>
        <tr>
        </th:block>
      </tr>
    </table>
</td>
					
					
					
					</tr>
					
	<tr>
		<td colspan="2" align="right">				
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=1"> 上一頁 </a> </h3>
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=1"> 1 </a> </h3>
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=2"> 2 </a> </h3>
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=3"> 3 </a> </h3>  
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=4"> 下一頁 </a> </h3>
		</td>
	</tr>
	
	
	
	
	--------------
	<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/path/to/jquery.min.js"></script>
<title>販賣機</title>
<!--	<style type="text/css">-->
<!--		.page {-->
<!--			display:inline-block;-->
<!--			padding-left: 10px;-->
<!--		}-->
<!--	</style>-->
<!--	<script type="text/javascript">-->
<!--		async function getSession() {-->
<!--			try {-->
<!--				const response = await $.ajax({-->
<!--					url: '/session',-->
<!--					type: 'GET'-->
<!--				});-->
<!--				return response;-->
<!--			} catch (error) {-->
<!--				return null;-->
<!--			}-->
<!--		}-->

<!--		window.onload = async function () {-->
<!--			const session = await getSession();-->
<!--			if (session) {-->
<!--				// session 存在，允许跳转-->
<!--			} else {-->
<!--				// session 不存在，禁止跳转-->
<!--				window.history.forward(1);-->
<!--			}-->
<!--		}-->
<!--	</script>-->
<!--<script type="text/javascript">-->
<!--	    function submitSearch() {-->
<!--	    	var id =  document.getElementById("searchKeyword").value;-->
<!--	    	alert(id);-->
<!--	        var searchKeyword = document.search.accountId.value;-->
<!--	        if(searchKeyword.trim() ==""){-->
<!--	            alert("User Or Pwd are not allow empty!!");-->
<!--	        }else{-->
<!--	            document.search.submit();-->
<!--	        }-->
<!--	    }-->
<!--	</script>-->
</head>

<body align="center">
<table width="1000" height="400" align="center">
	<tr>
		<td colspan="2" align="right">
			<form action="queryFrontend" method="get" name="search">
				<input type="hidden" name="action" value="searchGoods"/>
				<input type="hidden" name="pageNo" value="1"/>
				<input type="text" name="searchKeyword"/>
				<input type="submit" value="submit" onclick="submitSearch()" />
			</form>
		</td>
	</tr>
	<tr>
		<form action="FrontendServlet.do" method="post">
		<input type="hidden" name="customerID" value="A124243295"/>
		<td width="400" height="200" align="center">		
			<img border="0" src="../DrinksImage/coffee.jpg" width="200" height="200" >			
			<h1>歡迎光臨， <div th:text="${BM.CUSTOMER_NAME}"></h1>		
			<a href="VM_Backend_GoodsList" align="left" >後臺頁面</a>&nbsp; &nbsp;
			<a href="logout" align="left">登出</a>
			<br/><br/>
			<font face="微軟正黑體" size="4" >
				<b>投入:</b>
				<input type="number" name="inputMoney" max="100000" min="0"  size="5" value="0">
				<b>元</b>		
				<b><input type="submit" value="送出">					
				<br/><br/>
			</font>
			<div style="border-width:3px;border-style:dashed;border-color:#FFAC55;
				padding:5px;width:300px;">
				<p style="color: blue;">~~~~~~~ 消費明細 ~~~~~~~</p>
				<p style="margin: 10px;">
					投入金額：150
				</p>
				<p style="margin: 10px;">
					購買金額：111
				</p>
				<p style="margin: 10px;">
					找零金額：39
				</p>
				<p style="margin: 10px;">
					fanta_grape 7 * 3
				</p>
				<p style="margin: 10px;">
					spring_original 20 * 2
				</p>
				<p style="margin: 10px;">
					pepsi_original 25 * 2
				</p>				
			</div>	
		</td>
				<td width="600" height="400">
  <input type="hidden" name="action" value="buyGoods" />
  <table border="1" style="border-collapse: collapse">
    <tr>
      <th:block th:each="goods, iterStat : ${BG}">
        <td width="300">
          <font face="微軟正黑體" size="5" th:text="${goods.GOODS_NAME}"></font>
          <br />
          <font th:text="${goods.PRICE}+' 元/件'"></font>
          <br />
          <img th:src="@{'/DrinksImage/' + ${goods.IMAGE_NAME}}" th:alt="${goods.IMAGE_NAME}" width="150" height="150" >
          <br />
          <font face="微軟正黑體" size="3">
            <form th:action="@{/buyGoods}" method="post">
              <input type="hidden" name="action" value="buyGoods" />
              <input type="hidden" th:name="goodsID" th:value="${goods.GOODS_ID}" />
              購買<input type="number" name="buyQuantity" th:min="0" th:max="${goods.QUANTITY}" size="5" value="0">件
              <br />
              <p style="color: red;" th:text="'(庫存 ' + ${goods.QUANTITY} + ' 件)'"></p>
              <input type="submit" value="購買" />
            </form>
          </font>
        </td>
        <!-- 在每 3 個商品之后添加新行 -->
        <th:block th:if="${iterStat.index % 3 == 2}">
        </tr>
        <tr>
        </th:block>
      </tr>
    </table>
</td>


					
					
					
					</tr>
					
	<tr>
		<td colspan="2" align="right">				
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=1"> 上一頁 </a> </h3>
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=1"> 1 </a> </h3>
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=2"> 2 </a> </h3>
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=3"> 3 </a> </h3>  
			<h3 class="page"> <a href="FrontendServlet.do?action=searchGoods&pageNo=4"> 下一頁 </a> </h3>
		</td>
	</tr>
</table>


</body>

</html>